.cadence
.idea
datasets
output
tests_den

tasks/*

!tasks/classification/cifar100/metrics/*.csv
!tasks/classification/galaxy10/metrics/*.csv

!tasks/denoising/galaxy10/metrics/*_summary.csv
!tasks/denoising/illustris/metrics/*_summary.csv
!tasks/denoising/metrics.py

!tasks/segmentation/galaxysegment/metrics/*_summary.csv
!tasks/segmentation/illustris/metrics/*_summary.csv
!tasks/segmentation/metrics.py
